In [5]:
import pandas
import csv, sqlite3

conn= sqlite3.connect("BlackFriday.db")
df = pandas.read_csv('BlackFriday.csv')
df.to_sql('BlackFriday', conn, if_exists='append', index=False)
conn.close()
print('ok')

ok

In [8]:
#Part I: Overall Sales 
#Calculate total sales
conn = sqlite3.connect("BlackFriday.db")
cur = conn.cursor()
sql1 = "SELECT SUM(Purchase) AS TotalSales FROM BlackFriday;"
cur.execute(sql1)
print("Total Sales:",cur.fetchall())
cur.close()
conn.close()
print('Get Total Sales')

Total Sales: [(15287438226,)]
Get Total Sales

In [9]:
#Unit price per customer
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql2 = "SELECT COUNT(DISTINCT User_ID) AS NumOfCustomer, SUM(Purchase)/COUNT(DISTINCT User_ID) AS UnitPricePerCustomer FROM BlackFriday;"
cur = c.execute(sql2)
for row in cur:
    print("Number of Customer:",row[0])
    print("Unit price per Customer:",row[1])
cur.close()
conn.close()
print('Get Unit price per customer')

Number of Customer 5891
Unit price per Customer 2595049
Get Unit price per customer

In [11]:
#Average price per goods sold
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql3 = "SELECT COUNT(*) AS NumOfGoods, SUM(Purchase)/COUNT(*) AS UnitPricePerGoods FROM BlackFriday;"
cur = c.execute(sql3)
for row in cur:
    print("Number of Goods Sold:",row[0])
    print("Average price per Goods Sold:",row[1])
cur.close()
conn.close()
print('Get Average price per goods sold')

Number of Goods Sold 1650204
Average price per Goods Sold 9263
Get Average price per goods sold

In [21]:
#Top 20 best sales 
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql4 = "SELECT Product_ID, COUNT(Product_ID), SUM(Purchase) FROM BlackFriday GROUP BY Product_ID ORDER BY SUM(Purchase) desc LIMIT 20;"
cur = c.execute(sql4)
for row in cur:
    print("Product_ID:",row[0])
    print("Sales_Volume:",row[1])
    print("Sales:",row[2],'\n')
cur.close()
conn.close()
print('Get Top 20 best sales ')

Product_ID P00025442
Sales_Volume 4845
Sales 83985498

Product_ID P00110742
Sales_Volume 4836
Sales 80166927

Product_ID P00255842
Sales_Volume 4149
Sales 75506889

Product_ID P00059442
Sales_Volume 4218
Sales 73015029

Product_ID P00184942
Sales_Volume 4320
Sales 73004661

Product_ID P00112142
Sales_Volume 4686
Sales 72648018

Product_ID P00110942
Sales_Volume 4080
Sales 70918692

Product_ID P00237542
Sales_Volume 4182
Sales 70276728

Product_ID P00057642
Sales_Volume 4410
Sales 69308340

Product_ID P00010742
Sales_Volume 4050
Sales 66492459

Product_ID P00110842
Sales_Volume 3843
Sales 64172166

Product_ID P00046742
Sales_Volume 4314
Sales 63458646

Product_ID P00080342
Sales_Volume 3609
Sales 63390918

Product_ID P00028842
Sales_Volume 3591
Sales 63138210

Product_ID P00148642
Sales_Volume 3612
Sales 62448861

Product_ID P00145042
Sales_Volume 4218
Sales 61234026

Product_ID P00052842
Sales_Volume 2946
Sales 59335797

Product_ID P00114942
Sales_Volume 3534
Sales 57608730

Product_ID P00112542
Sales_Volume 3393
Sales 54447111

Product_ID P00005042
Sales_Volume 2907
Sales 53193681

Get Top 20 best sales

In [25]:
#Part II: Target Customer Profile
#comsumption difference between gender
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql5 = "SELECT Gender,count(distinct User_ID),avg(Purchase) FROM BlackFriday GROUP BY Gender;"
cur = c.execute(sql5)
for row in cur:
    print("Gener:",row[0])
    print("Number:",row[1])
    print("Averge Consumption:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference between gender')

Gener F
Number 1666
Averge Consumption 8734.565765155476

Gener M
Number 4225
Averge Consumption 9437.526040472265

Get comsumption difference between gender

In [29]:
#Top 5 Best sales product type among Males
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql6 = "SELECT Product_Category_1,COUNT(*) AS Sales_Volume FROM BlackFriday WHERE Gender = 'M' GROUP BY Product_Category_1 ORDER BY COUNT(*) DESC LIMIT 5;"
cur = c.execute(sql6)
for row in cur:
    print("Product Type:",row[0])
    print("Sales Volume:",row[1],"\n")
cur.close()
conn.close()
print('Get Top 5 Best sales product type among males')

Product Type: 1
Sales Volume: 346641

Product Type: 5
Sales Volume: 326916

Product Type: 8
Sales Volume: 241101

Product Type: 11
Sales Volume: 58644

Product Type: 2
Sales Volume: 54618

Get Top 5 Best sales product type among males

In [30]:
#Top 5 Best sales product type among females
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql7 = "SELECT Product_Category_1,COUNT(*) AS Sales_Volume FROM BlackFriday WHERE Gender = 'F' GROUP BY Product_Category_1 ORDER BY COUNT(*) DESC LIMIT 5;"
cur = c.execute(sql7)
for row in cur:
    print("Product Type:",row[0])
    print("Sales Volume:",row[1],"\n")
cur.close()
conn.close()
print('Get Top 5 Best sales product type among females')

Product Type: 5
Sales Volume: 125883

Product Type: 8
Sales Volume: 100674

Product Type: 1
Sales Volume: 74493

Product Type: 3
Sales Volume: 18018

Product Type: 2
Sales Volume: 16974

Get Top 5 Best sales product type among females

In [31]:
#comsumption distribution of different ages
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql8 = "SELECT Age,count(distinct User_ID),avg(Purchase) FROM BlackFriday GROUP BY Age;"
cur = c.execute(sql8)
for row in cur:
    print("Age:",row[0])
    print("Number:",row[1])
    print("Averge Consumption:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference among age')

Age 0-17
Number 218
Averge Consumption 8933.464640444974

Age 18-25
Number 1069
Averge Consumption 9169.663606261289

Age 26-35
Number 2053
Averge Consumption 9252.690632869888

Age 36-45
Number 1167
Averge Consumption 9331.350694917874

Age 46-50
Number 531
Averge Consumption 9208.625697468327

Age 51-55
Number 481
Averge Consumption 9534.808030960236

Age 55+
Number 372
Averge Consumption 9336.280459449405

Get comsumption difference among age

In [38]:
#comsumption difference among age in terms of consumption amount
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql9 = "SELECT Age,SUM(CASE WHEN Gender = 'M' THEN Purchase END), SUM(CASE WHEN Gender = 'F' THEN Purchase END) FROM BlackFriday GROUP BY Age;"
cur = c.execute(sql9)
for row in cur:
    print("Age:",row[0])
    print("Total consumption of males:",row[1])
    print("Total consumption of females:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference among age')

Age: 0-17
Total consumption of males: 277581615
Total consumption of females: 127157934

Age: 18-25
Total consumption of males: 2125118499
Total consumption of females: 616427526

Age: 26-35
Total consumption of males: 4766383035
Total consumption of females: 1328928699

Age: 36-45
Total consumption of males: 2349392763
Total consumption of females: 730316889

Age: 46-50
Total consumption of males: 912409617
Total consumption of females: 350120592

Age: 51-55
Total consumption of males: 832900941
Total consumption of females: 268397991

Age: 55+
Total consumption of males: 464953830
Total consumption of females: 137348295

Get comsumption difference among age

In [35]:
#comsumption difference among occupations: Top 20 occupations that consume most
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql10 ="SELECT Occupation, SUM(Purchase) FROM BlackFriday GROUP BY Occupation ORDER BY SUM(Purchase) desc LIMIT 20;"
cur = c.execute(sql10)
for row in cur:
    print("Occupation:",row[0])
    print("Total consumption amount:",row[1],"\n")
cur.close()
conn.close()
print('Get comsumption difference among occupations')

Occupation: 4
Total consumption amount: 1998733452

Occupation: 0
Total consumption amount: 1906220874

Occupation: 7
Total consumption amount: 1672114761

Occupation: 1
Total consumption amount: 1273842432

Occupation: 17
Total consumption amount: 1179844359

Occupation: 12
Total consumption amount: 916348338

Occupation: 20
Total consumption amount: 889711326

Occupation: 14
Total consumption amount: 778364076

Occupation: 16
Total consumption amount: 715040865

Occupation: 2
Total consumption amount: 714085749

Occupation: 6
Total consumption amount: 565250352

Occupation: 3
Total consumption amount: 486006504

Occupation: 15
Total consumption amount: 356880633

Occupation: 10
Total consumption amount: 347533395

Occupation: 5
Total consumption amount: 340949277

Occupation: 11
Total consumption amount: 320254854

Occupation: 19
Total consumption amount: 221101851

Occupation: 13
Total consumption amount: 215758443

Occupation: 18
Total consumption amount: 182164383

Occupation: 9
Total consumption amount: 163020138

Get comsumption difference among occupations

In [39]:
#comsumption difference among cities in terms of consumption amount
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql11 = "SELECT City_Category,SUM(CASE WHEN Gender = 'M' THEN Purchase END), SUM(CASE WHEN Gender = 'F' THEN Purchase END) FROM BlackFriday GROUP BY City_Category;"
cur = c.execute(sql11)
for row in cur:
    print("City Category:",row[0])
    print("Total consumption of males:",row[1])
    print("Total consumption of females:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference among cities')

City Category: A
Total consumption of males: 3030425238
Total consumption of females: 918989745

City Category: B
Total consumption of males: 4865749791
Total consumption of females: 1480851024

City Category: C
Total consumption of males: 3832565271
Total consumption of females: 1158857157

Get comsumption difference among cities

In [42]:
#comsumption difference among people with different Stay_In_Current_City_Years
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql12 = "SELECT Stay_In_Current_City_Years,SUM(CASE WHEN Gender = 'M' THEN Purchase END), SUM(CASE WHEN Gender = 'F' THEN Purchase END) FROM BlackFriday GROUP BY Stay_In_Current_City_Years;"
cur = c.execute(sql12)
for row in cur:
    print("City Category:",row[0])
    print("Total consumption of males:",row[1])
    print("Total consumption of females:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference among people with different Stay_In_Current_City_Years')

City Category: 0
Total consumption of males: 1608403080
Total consumption of females: 440534607

City Category: 1
Total consumption of males: 4028189709
Total consumption of females: 1350427890

City Category: 2
Total consumption of males: 2209499061
Total consumption of females: 638022732

City Category: 3
Total consumption of males: 2015086374
Total consumption of females: 639621603

City Category: 4+
Total consumption of males: 1867562076
Total consumption of females: 490091094

Get comsumption difference among people with different Stay_In_Current_City_Years

In [41]:
#comsumption difference among people with different Stay_In_Current_City_Years
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql13 = "SELECT Stay_In_Current_City_Years,COUNT(DISTINCT User_ID), avg(Purchase) FROM BlackFriday GROUP BY Stay_In_Current_City_Years ORDER BY COUNT(DISTINCT User_ID) desc;"
cur = c.execute(sql13)
for row in cur:
    print("City Category:",row[0])
    print("Number of customers:",row[1])
    print("Average consumption:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference among people with different staying time')

City Category: 1
Number of customers: 2086
Average consumption: 9250.145923300364

City Category: 2
Number of customers: 1145
Average consumption: 9320.429810090536

City Category: 3
Number of customers: 979
Average consumption: 9286.904119221284

City Category: 4+
Number of customers: 909
Average consumption: 9275.59887165687

City Category: 0
Number of customers: 772
Average consumption: 9180.075122987177

Get comsumption difference among people with different staying time

In [43]:
#comsumption difference among people with different marrige status
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql14 = "SELECT Marital_Status,SUM(CASE WHEN Gender = 'M' THEN Purchase END), SUM(CASE WHEN Gender = 'F' THEN Purchase END) FROM BlackFriday GROUP BY Marital_Status;"
cur = c.execute(sql14)
for row in cur:
    print("Marital Status:",row[0])
    print("Total consumption of males:",row[1])
    print("Total consumption of females:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference among people with different marrige status')

Marital Status: 0
Total consumption of males: 6974319960
Total consumption of females: 2052462381

Marital Status: 1
Total consumption of males: 4754420340
Total consumption of females: 1506235545

Get comsumption difference among people with different marrige status

In [44]:
#comsumption difference among people with different Stay_In_Current_City_Years
conn = sqlite3.connect("BlackFriday.db")
c = conn.cursor()
sql15 = "SELECT Marital_Status,COUNT(DISTINCT User_ID), avg(Purchase) FROM BlackFriday GROUP BY Marital_Status ORDER BY COUNT(DISTINCT User_ID) desc;"
cur = c.execute(sql15)
for row in cur:
    print("City Category:",row[0])
    print("Number of customers:",row[1])
    print("Average consumption:",row[2],"\n")
cur.close()
conn.close()
print('Get comsumption difference among people with different marrige status')

City Category: 0
Number of customers: 3417
Average consumption: 9265.907618921507

City Category: 1
Number of customers: 2474
Average consumption: 9261.174574082374

Get comsumption difference among people with different marrige status